/* Base styles for mobile */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #041e57;
    color: white;
    padding: 10px;
    text-align: left;
  }
  
  h1 {
    margin: 0;
  }
  
  nav {
    position: relative;
  }
  
  .hamburger {
    display: block;
    background: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    text-align: right;
  }
  
  .menu {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  h2 {
    text-align: center;
  }
  .menu li {
    text-align: center;
    margin: 10px 0;
  }
  
  .menu li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr; /* One column for mobile */
    gap: 20px;
    padding: 20px;
    margin-inline: 0;
  }
  
  figure {
    margin: 0;
    text-align: center;
    color: blue;
    box-shadow: #afa0e6;
    border-top: #afa0e6;
  }
  
  footer {
    background-color: #1b0b53;
    color: white;
    text-align: center;
    padding: 0px;
  }
  
  /* Media query for larger screens */
  @media (min-width: 768px) {
    .hamburger {
      display: none; /* Hide hamburger menu on larger screens */
    }
  
    .menu {
      display: flex;
      justify-content: right;
      margin-top: 10px;
    }
  
    .menu li {
      margin: 0 15px;
    }
  
    .container {
      grid-template-columns: repeat(3, 1fr); /* 3 columns for larger screens */
    }
  }
  
  .show {
    display: block; /* Show the menu when the hamburger button is clicked */
  }
  